[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python app.py"

[packages]
pandas = "*"
scikit-learn = "*"
ultralytics = "*"
opencv-python = "*"
matplotlib = "*"
neptune = "*"
torch = "*"
cuda-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
