[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = false
name = "pytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"          
verify_ssl = false
name = "torchvision"

[scripts]
dev = "fastapi dev main.py"
server = "uvicorn main:app --host 0.0.0.0 --port 8000"
tunnel = "cloudflared tunnel run fastapi-tunnel"
model = "python AI_model/model.py"
validate = "python AI_model/validate.py"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
ultralytics = "*"
torch = {version="*", index="pytorch"}
torchvision = {version="*", index="torchvision"}
torchaudio = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
