[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = false
name = "pytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"          
verify_ssl = false
name = "torchvision"

[scripts]
app = "python app.py"
model = "python AI_model/model.py"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
ultralytics = "*"
torch = {version="*", index="pytorch"}
torchvision = {version="*", index="torchvision"}
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
